/* Import de la police google demandée par le client */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Demande client : police pour les textes à 400 de graisse */
* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
/* Demande client : police pour les titres et les balises strong à 600 de graisse */
h1, h2, h3, h4, h5, h6, strong {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


/* Les liens se soulignent dans l'header au survol */
header a:hover{
  text-decoration: underline;
}

/* Mise en forme des icones de réseaux sociaux */
.socialnetwork {
  font-size:2rem;
  margin:0.1em;
  opacity:20%;
}
/* Changement de couleur lors du passage de la sourie icone réseaux sociaux */
.socialnetwork:hover{
  opacity:100%;
}
/* Les liens deviennent gras dans le footer au survol */
footer a:hover{
  font-weight: bolder;
}

/* Mise en place du background principal */
.home-Banner{
  background-image: url(/public/img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  height: 935px;
}

/*Mise en forme des titres dans la présentations */
.home-presentation h3{
  border-bottom: 0.1em solid #0d6efd;
}

@media screen and (min-width: 992px) {
    .home-name {
      font-size:5.5em;
    }
    .home-poste {
      font-size: 4.5em;
    }
}
@media screen and (max-width:992px) {
  .home-name {
    font-size:4.2em;
  }
  .home-poste {
    font-size: 3em;
  }
}